<script id="tr-template" type="text/x-handlebars-template">

    <tr class="board_tr" id="{{id}}">
        <td>{{num}}</td>
        <td>{{board_title}}</td>
        <td>{{name}}</td>
        <td>{{createTime}}</td>
        <td>{{updateTime}}</td>
    </tr>

</script>