<script id="tr-template" type="text/x-handlebars-template">

    <tr class="user_tr" id="{{id}}">
        <td>{{num}}</td>
        <td>{{name}}</td>
        <td>{{age}}</td>
        <td>{{email}}</td>
        <td>{{userType}}</td>
    </tr>

</script>