body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.board_tr {}
/*2016-07-02 게시판 상세 제목 */
#board_title {}
/*2016-07-02 게시판 상세 내용 */
#board_desc {}
#board_create_time {}
#board_user_name {}
#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
  font-size:12px
}
#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .social-buttons{
  margin:12px 0
}
#login-dp .social-buttons a{
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}

#logout { }
#logout .user_name {
  color: white;
  font-weight: bold;
}
#logout .logout-span {  }

#SpinnerBox {  position: absolute;  left: 50%;  top: 50%;  height:60px;  width:60px;  margin:0px auto;  display: block;  }