<!DOCTYPE html>
<html>
<head>
    <% include ./header.ejs %>
    <script type="text/javascript">


        var id = '<%= id %>';
        var board_userInfo = null;

        $(document).ready(function(){


            if(!isEmpty(id)) {
                $("#boardCreateBtn").hide();
                $("#boardModifyBtn").show();
                commonAjax.type = "GET";
                commonAjax.url = common_setting.server + ":" + common_setting.port + "/board/" + id;
                commonAjax.data = null;
                commonAjax.contentType = "application/json";
                commonAjax.ajaxCall(function(_data) {
                    console.dir(_data);
                    $("#board_title").val(_data.board_title);
                    $("#board_desc").val(_data.board_desc);



                });

            }

            //수정버틐 클릭시
           $("#boardModifyBtn").click(function(){

               if(!loginUserCheck(id)) {
                   alert("글 수정은 글쓴 당사자만 수정가능합니다");
                   return false;
               }


               var parameter = {
                   /*제목*/
                   board_title : $("#board_title").val(),
                   /*내용*/
                   board_desc : $("#board_desc").val(),
                   id : id,
                   user : {
                       id : getUserID()
                   }
               }

               if(!isEmpty(parameter)) {
                   commonAjax.type = "POST";
                   commonAjax.url = common_setting.server + ":" + common_setting.port + "/board/update";
                   commonAjax.data = JSON.stringify(parameter);
                   commonAjax.contentType = "application/json";
                   commonAjax.ajaxCall(function(_data){

                       console.dir(_data);
                       var id = _data.id;
                       if(!isEmpty(id)) {
                           alert("게시글이 수정되었습니다");
                           location.href = "/";
                       }

                   });
               }

            });



            //등록버틐 클릭시
            $("#boardCreateBtn").click(function(){

                if(!loginUserCheck(id)) {
                    alert("로그인 하셔야 등록하실수 있습니다");
                    return false;
                }


                var parameter = {
                    /*제목*/
                    board_title : "",
                    /*내용*/
                    board_desc : "",
                    user : {
                        id : getUserID()
                    }
                }

                $.each($('input,select,textarea', '.form-horizontal'),function(k){
                    console.log(k+' '+$(this).attr('name'));
                    for(var i in parameter) {
                        if(i == $(this).attr('name')) {
                            parameter[i] = $(this).val();
                        }
                    }
                });


                console.log("parameter >>>> :");
                console.dir(parameter);

                if(!isEmpty(parameter)) {

                    commonAjax.type = "POST";
                    commonAjax.url = common_setting.server + ":" + common_setting.port + "/board/save";
                    commonAjax.data = JSON.stringify(parameter);
                    commonAjax.contentType = "application/json";
                    commonAjax.ajaxCall(function(_data){

                        console.log("call");
                        console.dir(_data);

                        var id = _data.id;

                        if(!isEmpty(id)) {
                            alert("게시글이 생성되었습니다");
                            location.href = "/";
                        }

                    });

                }
            });
        });


    </script>
</head>
<body>
    <!-- 2016-06-28 nav 영역-->
    <% include ./navbar.ejs %>

    <div id="SpinnerBox"></div>

<div class="container theme-showcase" role="main">

    <div class="page-header" style="margin-top: 10%;">
        <h1>게시판 등록</h1>
    </div>

    <form class="form-horizontal" role="form" data-toggle="validator">

        <div class="col-md-6">

            <div class="form-group">
                <label class="control-label col-sm-3" for="board_title">제목:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control required" id="board_title" name="board_title" placeholder="제목을 입력해주세요">
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-3" for="board_desc">내용:</label>
                <div class="col-sm-6">
                    <textarea class="form-control required" id="board_desc" name="board_desc" placeholder="내용을 입력해주세요"></textarea>
                </div>
            </div>


        </div>


        <div class="col-md-6">



        </div>


        <div class="col-md-12">

            <div class="form-group">
                <div id="btnGroup" class="col-sm-offset-8 col-sm-4">
                    <button type="button" id="boardCreateBtn" class="btn btn-lg btn-success" mode="create">등록</button>
                    <button type="button" id="boardModifyBtn" class="btn btn-lg btn-success" mode="create" style="display: none;">수정</button>
                </div>
            </div>

        </div>

    </form>





</div>
</body>
</html>
