<!DOCTYPE html>
<html>
<head>
    <% include ./header.ejs %>

    <% include ./template/comment-tr-template.ejs %>

    <script type="text/javascript">

        var id = '<%= id %>';
        var boardid = null;
        $(document).ready(function(){
            //$("#commentWriteTable").hide();
            detailSetting();


            //수정
            $("#modify").click(function(){

                if(!loginUserCheck(id)) {
                    alert("본인만 수정가능합니다");
                    return false;
                } else {
                    location.href = "create?id="+id;
                }

            });

            //삭제
            $("#delete").click(function(){

                if(!loginUserCheck(id)) {
                    alert("본인만 삭제가능합니다");
                    return false;
                } else {

                    commonAjax.type = "GET";
                    commonAjax.url = common_setting.server + ":" + common_setting.port + "/board/delete/" + id;
                    commonAjax.data = null;
                    commonAjax.contentType = "application/json";
                    commonAjax.ajaxCall(function(_data) {

                        if(!isEmpty(_data)) {
                            if(_data) {
                                alert("삭제되었습니다");
                                location.href = "/";
                            }
                        }

                    });


                }

            });


            //댓글
            $("#commentParentSubmit").click(function(){
                if(!loginUserCheck(id,true)) {
                    alert("로그인후에 댓글을 등록하실 수 있습니다");
                    return false;
                } else {

                    if(!isEmpty(boardid)) {

                        if(isEmpty($("#comment_desc").val())) {
                           alert("댓글을 내용을 입력해주세요");
                           return false;
                        }


                        var parameter = {
                            /*게시판 아이디*/
                            boardid : boardid,
                            /*내용*/
                            comment_desc : $("#comment_desc").val(),
                            user : {
                                id : getUserID()
                            }
                        }

                        commonAjax.type = "POST";
                        commonAjax.url = common_setting.server + ":" + common_setting.port + "/comment/save";
                        commonAjax.data = JSON.stringify(parameter);
                        commonAjax.contentType = "application/json";
                        commonAjax.ajaxCall(function(_data){


                            alert("댓글이 입력되었습니다");
                            location.href = "detail?id="+id;



                        });


                    }


                }
            });


        });


        function detailSetting() {


            if(!isEmpty(id)) {
                commonAjax.type = "GET";
                commonAjax.url = common_setting.server + ":" + common_setting.port + "/board/" + id;
                commonAjax.data = null;
                commonAjax.contentType = "application/json";
                commonAjax.ajaxCall(function(_data) {
                    console.dir(_data);

                    $("#board_title").text(_data.board_title);
                    $("#board_desc").text(_data.board_desc);
                    $("#board_create_time").text(timeStampToDateConvert(_data.createTime));
                    $("#board_user_name").text(_data.userDTO.name);

                    boardid = _data.boardid;

                    var commentDTOList = _data.commentDTOList;

                    var commentCount = commentDTOList.length;

                    var source = $("#tr-template").html();

                    var template = Handlebars.compile(source);

                    if(commentCount > 0) {


                        for (var i = 0; i < commentCount; i++) {

                            var html = template(commentDTOList[i]);

                            $("#commentTbody").append(html);
                        }



                    }


                });
            }





        }

    </script>
</head>

<body>
    <!-- 2016-06-28 nav 영역-->
    <% include ./navbar.ejs %>

    <div id="SpinnerBox"></div>

    <div class="container theme-showcase" role="main">

        <div class="page-header" style="margin-top: 10%;">
            <h1>게시판 상세</h1>
        </div>


        <div class="col-md-10">
            <table class="table table-condensed">
                <thead>
                <tr align="center">
                    <th width="10%">제목</th>
                    <th width="60%" id="board_title"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>작성일
                    </td>
                    <td id="board_create_time">

                    </td>
                </tr>
                <tr>
                    <td>글쓴이
                    </td>
                    <td>
                        <span id="board_user_name"> </span><span style='float:right'>조회 : 0</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p id="board_desc"></p>

                    </td>
                </tr>
                </tbody>
            </table>

            <div class="row" style="margin-top: 20px; margin-left: 0px;">

                <table id="commentTable" class="table table-condensed">

                    <tbody id="commentTbody">

                    </tbody>
                </table>
            </div>


            <table id="commentWriteTable" class="table table-condensed">
                <tr>
                    <td>
                                <span class="form-inline" role="form">
                                    <p>
                                        댓글 쓰기
                                        <!--<div class="form-group">-->
                                            <!--<input type="text" id="commentParentName" name="commentParentName" class="form-control col-lg-2" data-rule-required="true" placeholder="메일" maxlength="10">-->
                                        <!--</div>-->
                                        <!--<div class="form-group">-->
                                            <!--<input type="password" id="commentParentPassword" name="commentParentPassword" class="form-control col-lg-2" data-rule-required="true" placeholder="패스워드" maxlength="10">-->
                                        <!--</div>-->
                                        <!--<div class="form-group">-->
                                            <!--<button type="button" id="commentParentSubmit" name="commentParentSubmit" class="btn btn-default">확인</button>-->
                                        <!--</div>-->
                                    </p>
                                    <textarea id="comment_desc" class="form-control col-lg-12" style="width:100%" rows="4"></textarea>

                                    <div class="form-group" style="margin-top: 20px;">
                                        <button type="button" id="commentParentSubmit" name="commentParentSubmit" class="btn btn-default">댓글등록</button>
                                    </div>
                                </span>
                    </td>
                </tr>
            </table>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <td>
                                    <span style='float:right'>
                                        <a href="/" type="button" class="btn btn-default">목록</a>
                                        <button type="button" id="modify" class="btn btn-default">수정</button>
                                        <button type="button" id="delete" class="btn btn-default">삭제</button>
                                        <!--<button type="button" id="comment-write" class="btn btn-default">댓글쓰기</button>-->
                                        <!--<button type="button" id="list" class="btn btn-default">목록</button>-->
                                        <!--<button type="button" id="modify" class="btn btn-default">수정</button>-->
                                        <!--<button type="button" id="delete" class="btn btn-default">삭제</button>-->
                                        <!--<button type="button" id="write" class="btn btn-default">글쓰기</button>-->
                                    </span>
                    </td>
                </tr>
                </thead>
            </table>
        </div>




    </div>
</body>

</html>