<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<script type="text/javascript" src="/javascripts/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.cookie.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/handlebars-v4.0.5.js"></script>
<script type="text/javascript" src="/javascripts/spin.js"></script>
<script type="text/javascript" src="/javascripts/common.js"></script>
<script type="text/javascript" src="/javascripts/board.js"></script>

