<!DOCTYPE html>
<html>
    <head>
    <% include ./header.ejs %>
    <script type="text/javascript">

        $(document).ready(function(){
            boardList();
        });

        //게시판 상세
        $(document).on("click",".board_tr",function(){

            var id = $(this).attr("id");

            //alert(id);
            location.href = "detail?id="+id;
        });

        function boardList() {

            search.search_type = "board";
            search.tr_selector = "#tr-template";
            search.tbody_selector = "#boardTbody";
            search.searchView();


        }


    </script>
    </head>
<body>

    <% include ./template/board-tr-template.ejs %>

    <!-- 2016-06-28 nav 영역-->
    <% include ./navbar.ejs %>

    <div id="SpinnerBox"></div>

    <div class="container theme-showcase" role="main">

      <div class="page-header" style="margin-top: 10%;">
        <h1>심플한 게시판</h1>
      </div>

      <div class="row" style="margin-top: 5%;">
        <table class="table table-striped board-list">
          <thead>
          <tr style="align-items: center">
            <th>#</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>생성날짜</th>
            <th>수정날짜</th>
          </tr>
          </thead>
          <tbody id="boardTbody">

          </tbody>
        </table>
      </div>


      <nav style="text-align: center">
        <ul class="pagination" id="pageNavigation"></ul>
      </nav>

    </div>



  </body>
</html>
