<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">스프링부트&JPA를 이용한 간단한 게시판예제</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">유저조회<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/users/create">등록</a></li>
                        <li><a href="/users">조회</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">게시판<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/create">등록</a></li>
                        <li><a href="/">조회</a></li>
                    </ul>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <!--<li><p class="navbar-text">Already have an account?</p></li>-->
                <li class="dropdown" id="login">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>로그인</b> <span class="caret"></span></a>
                    <ul id="login-dp" class="dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form" role="form" id="login-nav">
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="이메일 주소를 입력해주세요" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputPassword2">Password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="패스워드를 입력해주세요" required>
                                            <div class="help-block text-right"><a href="">패스워드를 잊어버렸나요 ?</a></div>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" id="loginBtn" class="btn btn-primary btn-block">로그인</button>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> 로그인 유지
                                            </label>
                                        </div>
                                    </form>
                                </div>
                                <div class="bottom text-center">
                                    신규 유저 <a href="#"><b>등록</b></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li id="logout" style="display: none;">
                    <a href="#">
                        <span class="user_name">

                        </span>
                        <span class="logout-span">로그아웃</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>