<!DOCTYPE html>
<html>
<head>
    <% include ../header.ejs %>
    <script type="text/javascript">


        $(document).ready(function(){

            //등록버틐 클릭시
            $("#userCreateBtn").click(function(){

                var parameter = {
                    name : "",
                    age: "",
                    email: "",
                    password: "",
                    userType: ""
                };

                $.each($('input,select,textarea', '.form-horizontal'),function(k){
                    console.log(k+' '+$(this).attr('name'));
                    for(var i in parameter) {
                        if(i == $(this).attr('name')) {
                            parameter[i] = $(this).val();
                        }
                    }
                });

                parameter.userType = $( "#userType option:selected" ).val();

                console.log("parameter >>>> :");
                console.dir(parameter);

                if(!isEmpty(parameter)) {

                    commonAjax.type = "POST";
                    commonAjax.url = "http://localhost:8070/user/save";
                    commonAjax.data = JSON.stringify(parameter);
                    commonAjax.contentType = "application/json";
                    commonAjax.ajaxCall(function(data){
                        console.dir(data);

                        var id = data.id;

                        if(!isEmpty(id)) {
                            alert("유저 생성되었습니다");
                            location.href = "/users";
                        }

                    });
                }
            });
        });

    </script>
</head>
<body>

<!-- 2016-06-28 nav 영역-->
<% include ../navbar.ejs %>
<div id="SpinnerBox"></div>

<div class="container theme-showcase" role="main">

    <div class="page-header" style="margin-top: 10%;">
        <h1>유저 등록</h1>
    </div>

    <form class="form-horizontal" role="form" data-toggle="validator">

        <div class="col-md-6">

            <div class="form-group">
                <label class="control-label col-sm-3" for="name">유저 이름:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control required" id="name" name="name" placeholder="이름을 입력해주세요">
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-3" for="age">나이:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control required" id="age" name="age" placeholder="나이를 입력해주세요">
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-3" for="email">유저 이메일:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control required" id="email" name="email" placeholder="이메일을 입력해주세요">
                </div>
            </div>

        </div>


        <div class="col-md-6">

            <div class="form-group">
                <label class="control-label col-sm-3" for="password">비밀번호:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control required" id="password" name="password" placeholder="비밀번호 입력해주세요">
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-3" for="password">유저타입:</label>
                <div class="col-sm-6">
                    <select id="userType" class="form-control">
                        <option value="ADMIN" selected="selected">관리자</option>
                        <option value="USER">유저</option>
                    </select>
                </div>
            </div>


        </div>

        <div class="col-md-12">

            <div class="form-group">
                <div id="btnGroup" class="col-sm-offset-8 col-sm-4">
                    <button type="button" id="userCreateBtn" class="btn btn-lg btn-success" mode="create">등록</button>
                    <!--<button type="button" id="userModifyBtn" class="btn btn-lg btn-info" mode="modify">수정</button>-->
                </div>
            </div>

        </div>

    </form>

</div>



</body>
</html>
