<!DOCTYPE html>
<html>
    <% include ../header.ejs %>
    <script type="text/javascript">

        $(document).ready(function(){

            userList();

        });

        function userList() {

            search.search_type = "user";
            search.tr_selector = "#tr-template";
            search.tbody_selector = "#userTbody";
            search.searchView();

        }


    </script>
<body>

<% include ../template/user-tr-template.ejs %>

<!-- 2016-06-28 nav 영역-->
<% include ../navbar.ejs %>
<div id="SpinnerBox"></div>

<div class="container theme-showcase" role="main">

    <div class="page-header" style="margin-top: 10%;">
        <h1>유저 게시판</h1>
    </div>

    <div class="row" style="margin-top: 5%;">
        <table class="table table-striped board-list">
            <thead>
            <tr style="align-items: center">
                <th>#</th>
                <th>이름</th>
                <th>나이</th>
                <th>이메일</th>
                <th>유저타입</th>
            </tr>
            </thead>
            <tbody id="userTbody">

            </tbody>
        </table>
    </div>

    <nav style="text-align: center">
        <ul class="pagination" id="pageNavigation">
        </ul>
    </nav>

</div>



</body>
</html>
